.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 15px;
}

.App-intro {
  font-size: large;
}

h1 {
  font-size: 40px;
  color: #51a7be;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.closed-container {
  color: #51a7be;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 63px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #51a7be;
  margin-top: 30px;
}

.hit-container {
  color: #51a7be;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 38px;
}

.scoreboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-number {
  font-size: 60px;
  margin: 30px 10px 0 10px;
}

span {
  position: relative;
  bottom: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
